# Credenciais de Login do Sistema
EMAIL_LOGIN=seu_email@exemplo.com
SENHA_INSTALACAO=sua_senha_de_instalacao
PIN_LOGIN=seu_pin_de_login

# Configurações do Bot do Telegram
TELEGRAM_TOKEN=seu_token_do_bot_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui
